<launch>
    <node pkg="team_include" type="yolo_detector.py" name="yolo_perception" output="screen">
        <param name="camera_topic" value="/camera/color/image_raw" />
    </node>

    <node pkg="team_include" type="path_planner.py" name="path_planner" output="screen" />

    <node pkg="team_include" type="gps_denied_flight.py" name="flight_control" output="screen" />

</launch>